In [13]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Namespaces

### 1) What happens if we assign a value to a variable?

In [33]:
a = 3

In [34]:
id(3), id(a)

(4556867040, 4556867040)

Python creates an object int(3) that is stored in RAM and creates a reference between the name "a" and the object.

### 2) What happens if we assign a to another variable?

In [35]:
b = a

In [36]:
b

3

In [37]:
id(b), id(4), id(a)

(4556867040, 4556867072, 4556867040)

Python creates another reference to the already existing object.

### 3) What happens if we assign a + 2 to another variable

In [38]:
c = a + 2

In [39]:
c, a

(5, 3)

In [40]:
id(c), id(a)

(4556867104, 4556867040)

Python creates another object int(5) and creates a reference from "c" to that object. There is no link between c and a.

In general you can inspect the reference counts (Pythons internal way of keeping track whether an object is used or the memory can be freed) by importing sys and looking at .getrefcount. However, don't forget that Python internally uses objects as well.

In [ ]:
import sys

In [29]:
print(sys.getrefcount(3))

551

### 4) What happens if we reassign one of the variables?

In [42]:
a = 10

In [43]:
a, b

(10, 3)

Python creates a new object int(10) and re-references "a" to point to this object. The reference of "b" to int(3) is not affected.

### 5) What happens if we go through the same steps with a list?

In [46]:
list_1 = [30, a, b]

In [47]:
list_1

[30, 10, 3]

In [48]:
list_2 = list_1

In [49]:
list_2

[30, 10, 3]

In [50]:
list_1[0] = 100

In [51]:
list_1

[100, 10, 3]

In [52]:
list_2

[100, 10, 3]

In [58]:
id(list_1), id(list_2)

(4874528904, 4874528904)

If we assign a name to a list, what is happening is that Python creates a reference to a list_object. This list object itself is referencing the objects that are stored in the list. By assigning list_2 = list_1 we create a reference to the same list object.
When we define list_1[0] = 100 we tell the list_object to reference the object(100) instead of the object(30). If we want to avoid that to change the value for list_1 and list_2 we will have to create a copy of list_1 which creates a seperate list_object.

### 6) How can we avoid that problem?

In [53]:
list_3 = list_1.copy()

In [54]:
list_1, list_3

([100, 10, 3], [100, 10, 3])

In [55]:
list_1[0] = 30

In [56]:
list_1, list_2, list_3

([30, 10, 3], [30, 10, 3], [100, 10, 3])

In [57]:
id(list_1), id(list_2), id(list_3)

(4874528904, 4874528904, 4874509768)

In [57]:
id(list_1[1]), id(list_2[1]), id(list_3[1])

(4517820096, 4517820096, 4517820096)

The same goes for DataFrames

In [ ]:
df2 = df

In [58]:
import numpy as np

In [59]:
x = np.arange(100)
y = x**2

In [60]:
import pandas as pd

In [109]:
df = pd.DataFrame({'x': x, 'y': y})
df.head()

   x   y
0  0   0
1  1   1
2  2   4
3  3   9
4  4  16

In [73]:
df2 = df.copy()

In [74]:
id(df), id(df2)

(4847624376, 4859453512)

In [77]:
df.iloc[0, 0] = 100

In [78]:
df.head()

     x   y
0  100   0
1    1   1
2    2   4
3    3   9
4    4  16

In [79]:
df2.head()

   x   y
0  0   0
1  1   1
2  2   4
3  3   9
4  4  16

### 7) What happens in case of nested lists

In [84]:
list_1 = [a, b, [5, 6]]
list_2 = list_1
list_3 = list_1.copy()

In [87]:
list_1[2][0] = 20

In [88]:
list_1

[10, 4, [20, 6]]

In [89]:
list_2

[10, 4, [20, 6]]

In [90]:
list_3

[10, 4, [20, 6]]

In [91]:
# Solution: deep copy

In [92]:
import copy

In [93]:
list_4 = copy.deepcopy(list_1)

In [94]:
list_1, list_4

([10, 4, [20, 6]], [10, 4, [20, 6]])

In [95]:
list_1[2][1] = 34

In [96]:
list_1, list_4

([10, 4, [20, 34]], [10, 4, [20, 6]])

In [98]:
df3 = df.copy(deep=False)

In [100]:
df3.head()

     x   y
0  100   0
1    1   1
2    2   4
3    3   9
4    4  16

In [101]:
df.iloc[0, 0] = 0

In [102]:
df3.head()

   x   y
0  0   0
1  1   1
2  2   4
3  3   9
4  4  16

In [105]:
df.drop('x', axis=1, inplace=True)

In [106]:
df.head()

    y
0   0
1   1
2   4
3   9
4  16

In [107]:
df3.head()

   x   y
0  0   0
1  1   1
2  2   4
3  3   9
4  4  16

In [110]:
df4 = df

In [111]:
df.drop('x', axis=1, inplace=True)

In [112]:
df4.head()

    y
0   0
1   1
2   4
3   9
4  16

In [114]:
help(3)

Help on int object:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length, byteorder, *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder, *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

## OK, so what about namespaces?

"A namespace is a mapping from names to objects". Python creates some internal dictionary that keeps track of all current variables, attributes, etc.
"The important thing to know about namespaces is that there is absolutely no relation between names in different namespaces;"

Quotes from https://docs.python.org/3/tutorial/classes.html

### When are namespaces created?

- Python Interpreter is started
- Kernel is started
- def
- import

Can we see this dictionary?

### 8) The `dir()` function returns the names of the current scope.

In [115]:
dir()

['In',
 'Out',
 '_',
 '_100',
 '_102',
 '_103',
 '_104',
 '_106',
 '_107',
 '_108',
 '_109',
 '_11',
 '_112',
 '_113',
 '_12',
 '_15',
 '_16',
 '_17',
 '_19',
 '_2',
 '_22',
 '_23',
 '_24',
 '_26',
 '_27',
 '_3',
 '_41',
 '_43',
 '_45',
 '_47',
 '_48',
 '_5',
 '_50',
 '_51',
 '_53',
 '_54',
 '_55',
 '_56',
 '_57',
 '_6',
 '_61',
 '_63',
 '_65',
 '_66',
 '_68',
 '_69',
 '_71',
 '_72',
 '_74',
 '_75',
 '_76',
 '_78',
 '_79',
 '_8',
 '_81',
 '_83',
 '_85',
 '_86',
 '_88',
 '_89',
 '_9',
 '_90',
 '_94',
 '_96',
 '_99',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i104',
 '_i105',
 '_i106',
 '_i107',
 '_i108',
 '_i109',
 '_i11',
 '_i110',
 '_i111',
 '_i112',
 '_i113',
 '_i114',
 '_i115',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'c',
 'copy',
 'd',
 'df',
 'df2',
 'df3',
 'df4',
 'e',
 'exit',
 'f',
 'get_ipython',
 'list_1',
 'list_2',
 'list_3',
 'list_4',
 'np',
 'pd',
 'quit',
 'sys',
 'this',
 'x',
 'y']

### 9) The function `locals()` is returning a dictionary containing the current scopes' local variables

In [2]:
import numpy as np

In [7]:
locals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'locals()',
  'import numpy as np',
  'locals()',
  "locals()['np']",
  "dir('np')",
  'globals()',
  'locals()'],
 '_oh': {1: {...},
  3: {...},
  4: <module 'numpy' from '//anaconda3/lib/python3.7/site-packages/numpy/__init__.py'>,
  5: ['__add__',
   '__class__',
   '__contains__',
   '__delattr__',
   '__dir__',
   '__doc__',
   '__eq__',
   '__format__',
   '__ge__',
   '__getattribute__',
   '__getitem__',
   '__getnewargs__',
   '__gt__',
   '__hash__',
   '__init__',
   '__init_subclass__',
   '__iter__',
   '__le__',
   '__len__',
   '__lt__',
   '__mod__',
   '__mul__',
   '__ne__',
   '__new__',
   '__reduce__',
   '__reduce_ex__',
   '__repr__',
   '__rmod__',
   '__rmul__',
   '__setattr__',
   '__sizeof__',
   '__str__',
   '__subclasshook__',
   'capitalize',
   'casefold',
   'center',
   'count',
   'encode',
   'endswith',
   'expandtabs',
   'find',
   'format',
   'format_map',
   'index',
   'isalnum',
   'isalpha',
   'isascii',
   'isdecimal',
   'isdigit',
   'isidentifier',
   'islower',
   'isnumeric',
   'isprintable',
   'isspace',
   'istitle',
   'isupper',
   'join',
   'ljust',
   'lower',
   'lstrip',
   'maketrans',
   'partition',
   'replace',
   'rfind',
   'rindex',
   'rjust',
   'rpartition',
   'rsplit',
   'rstrip',
   'split',
   'splitlines',
   'startswith',
   'strip',
   'swapcase',
   'title',
   'translate',
   'upper',
   'zfill'],
  6: {...}},
 '_dh': ['/Users/stefanroth/spiced/teaching/05_time_series/namespaces'],
 'In': ['',
  'locals()',
  'import numpy as np',
  'locals()',
  "locals()['np']",
  "dir('np')",
  'globals()',
  'locals()'],
 'Out': {1: {...},
  3: {...},
  4: <module 'numpy' from '//anaconda3/lib/python3.7/site-packages/numpy/__init__.py'>,
  5: ['__add__',
   '__class__',
   '__contains__',
   '__delattr__',
   '__dir__',
   '__doc__',
   '__eq__',
   '__format__',
   '__ge__',
   '__getattribute__',
   '__getitem__',
   '__getnewargs__',
   '__gt__',
   '__hash__',
   '__init__',
   '__init_subclass__',
   '__iter__',
   '__le__',
   '__len__',
   '__lt__',
   '__mod__',
   '__mul__',
   '__ne__',
   '__new__',
   '__reduce__',
   '__reduce_ex__',
   '__repr__',
   '__rmod__',
   '__rmul__',
   '__setattr__',
   '__sizeof__',
   '__str__',
   '__subclasshook__',
   'capitalize',
   'casefold',
   'center',
   'count',
   'encode',
   'endswith',
   'expandtabs',
   'find',
   'format',
   'format_map',
   'index',
   'isalnum',
   'isalpha',
   'isascii',
   'isdecimal',
   'isdigit',
   'isidentifier',
   'islower',
   'isnumeric',
   'isprintable',
   'isspace',
   'istitle',
   'isupper',
   'join',
   'ljust',
   'lower',
   'lstrip',
   'maketrans',
   'partition',
   'replace',
   'rfind',
   'rindex',
   'rjust',
   'rpartition',
   'rsplit',
   'rstrip',
   'split',
   'splitlines',
   'startswith',
   'strip',
   'swapcase',
   'title',
   'translate',
   'upper',
   'zfill'],
  6: {...}},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x10ca86438>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x10cad1b00>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x10cad1b00>,
 '_': {...},
 '__': ['__add__',
  '__class__',
  '__contains__',
  '__delattr__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__getnewargs__',
  '__gt__',
  '__hash__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mod__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__rmod__',
  '__rmul__',
  '__setattr__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'capitalize',
  'casefold',
  'center',
  'count',
  'encode',
  'endswith',
  'expandtabs',
  'find',
  'format',
  'format_map',
  'index',
  'isalnum',
  'isalpha',
  'isascii',
  'isdecimal',
  'isdigit',
  'isidentifier',
  'islower',
  'isnumeric',
  'isprintable',
  'isspace',
  'istitle',
  'isupper',
  'join',
  'ljust',
  'lower',
  'lstrip',
  'maketrans',
  'partition',
  'replace',
  'rfind',
  'rindex',
  'rjust',
  'rpartition',
  'rsplit',
  'rstrip',
  'split',
  'splitlines',
  'startswith',
  'strip',
  'swapcase',
  'title',
  'translate',
  'upper',
  'zfill'],
 '___': <module 'numpy' from '//anaconda3/lib/python3.7/site-packages/numpy/__init__.py'>,
 '_i': 'globals()',
 '_ii': "dir('np')",
 '_iii': "locals()['np']",
 '_i1': 'locals()',
 '_1': {...},
 '_i2': 'import numpy as np',
 'np': <module 'numpy' from '//anaconda3/lib/python3.7/site-packages/numpy/__init__.py'>,
 '_i3': 'locals()',
 '_3': {...},
 '_i4': "locals()['np']",
 '_4': <module 'numpy' from '//anaconda3/lib/python3.7/site-packages/numpy/__init__.py'>,
 '_i5': "dir('np')",
 '_5': ['__add__',
  '__class__',
  '__contains__',
  '__delattr__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__getnewargs__',
  '__gt__',
  '__hash__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mod__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__rmod__',
  '__rmul__',
  '__setattr__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'capitalize',
  'casefold',
  'center',
  'count',
  'encode',
  'endswith',
  'expandtabs',
  'find',
  'format',
  'format_map',
  'index',
  'isalnum',
  'isalpha',
  'isascii',
  'isdecimal',
  'isdigit',
  'isidentifier',
  'islower',
  'isnumeric',
  'isprintable',
  'isspace',
  'istitle',
  'isupper',
  'join',
  'ljust',
  'lower',
  'lstrip',
  'maketrans',
  'partition',
  'replace',
  'rfind',
  'rindex',
  'rjust',
  'rpartition',
  'rsplit',
  'rstrip',
  'split',
  'splitlines',
  'startswith',
  'strip',
  'swapcase',
  'title',
  'translate',
  'upper',
  'zfill'],
 '_i6': 'globals()',
 '_6': {...},
 '_i7': 'locals()'}

In [5]:
dir('np')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
np.arange

In [1]:
locals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'locals()'],
 '_oh': {},
 '_dh': ['/Users/stefanroth/spiced/teaching/05_time_series/namespaces'],
 'In': ['', 'locals()'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x10d8f9048>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x10df42c18>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x10df42c18>,
 '_': '',
 '__': '',
 '___': '',
 '_i': '',
 '_ii': '',
 '_iii': '',
 '_i1': 'locals()'}

In [1]:
import numpy as np
import random

In [2]:
locals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'import numpy as np\nimport random', 'locals()'],
 '_oh': {},
 '_dh': ['/Users/stefanroth/spiced/teaching/05_time_series/namespaces'],
 'In': ['', 'import numpy as np\nimport random', 'locals()'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x11128c7f0>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x111e9dc88>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x111e9dc88>,
 '_': '',
 '__': '',
 '___': '',
 '_i': 'import numpy as np\nimport random',
 '_ii': '',
 '_iii': '',
 '_i1': 'import numpy as np\nimport random',
 'np': <module 'numpy' from '//anaconda3/lib/python3.7/site-packages/numpy/__init__.py'>,
 'random': <module 'random' from '//anaconda3/lib/python3.7/random.py'>,
 '_i2': 'locals()'}

### 10) The function `globals()` is returning a dictionary containing the current scopes' global variables

In [3]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'import numpy as np\nimport random', 'locals()', 'globals()'],
 '_oh': {2: {...}},
 '_dh': ['/Users/stefanroth/spiced/teaching/05_time_series/namespaces'],
 'In': ['', 'import numpy as np\nimport random', 'locals()', 'globals()'],
 'Out': {2: {...}},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x11128c7f0>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x111e9dc88>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x111e9dc88>,
 '_': {...},
 '__': '',
 '___': '',
 '_i': 'locals()',
 '_ii': 'import numpy as np\nimport random',
 '_iii': '',
 '_i1': 'import numpy as np\nimport random',
 'np': <module 'numpy' from '//anaconda3/lib/python3.7/site-packages/numpy/__init__.py'>,
 'random': <module 'random' from '//anaconda3/lib/python3.7/random.py'>,
 '_i2': 'locals()',
 '_2': {...},
 '_i3': 'globals()'}

### 11) What is the scope?

Because we have various Python namespaces, not each namespace can be accessed from every part of the program.
The scope of a variable is that part of the Python code were it is directly accessible.

In [30]:
x = 10

def outer_print():
    x = 5
    
    def inner_print():
        x = 2
        print(f'x in the inner function is {x}')
    
    inner_print()
    print(f'x in the outer function is {x}')

In [31]:
outer_print()
print(f'x globally is {x}')

x in the inner function is 2
x in the outer function is 5
x globally is 10

In [26]:
dir()

['In',
 'Out',
 '_',
 '_2',
 '_23',
 '_24',
 '_25',
 '_3',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'np',
 'outer_print',
 'quit',
 'random',
 'x']